@charset "UTF-8";

@font-face {
  font-family: 'CorporateA';
  src: url('../fonts/CorporateA-Regular.otf');
}

@font-face {
  font-family: 'CorporateS-Demi';
  src: url('../fonts/CorporateS-Demi.otf');
}

@font-face {
  font-family: 'CorporateACon-Reg';
  src: url('../fonts/CorporateACon-Reg.otf');
}

@font-face {
  font-family: 'CorporateS';
  src: url('../fonts/CorporateS-Regular.otf');
}

@font-face {
  font-family: 'Corps A Cond Regular';
  src: url('../fonts/MBCorpoACond-regular.otf') format('truetype');
}

@font-face {
  font-family: 'Corps A Cond Bold';
  src: url('../fonts/MBCorpoACond-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Corps S Cond Regular';
  src: url('../fonts/MBCorpoSCond-regular.otf') format('truetype');
}

@font-face {
  font-family: 'Corps S Cond Bold';
  src: url('../fonts/MBCorpoSCond-bold.ttf') format('truetype');
}
