// Element-plus 样式覆盖
/* 输入框 */
.el-input {
  .el-input__wrapper {
    @apply shadow-stroke;

    .el-input__inner {
      &:placeholder {
        @apply text-tip-gray;
      }
    }
  }

  &.is-disabled {
    .el-input__wrapper {
      @apply bg-disable-gray shadow-stroke #{!important};

      .el-input__inner {
        -webkit-text-fill-color: unset;
        @apply text-primary-black;

        &:placeholder {
          @apply text-tip-gray;
        }
      }
    }
  }
}

.el-textarea {
  .el-textarea__inner {
    @apply shadow-stroke;

    &:placeholder {
      @apply text-tip-gray;
    }
  }

  &.is-disabled {
    .el-textarea__inner {
      -webkit-text-fill-color: unset;
      @apply text-primary-black bg-disable-gray shadow-stroke #{!important};

      &:placeholder {
        @apply text-tip-gray;
      }
    }
  }
}

/* 下拉框 */
.el-select {
  @apply w-full;

  .el-select__tags {
    .el-tag {
      @apply bg-disable-gray text-primary-black;
    }
  }

  &.el-select--disabled {
    .el-select__tags {
      .el-tag {
        @apply bg-disable-gray text-primary-black;
      }
    }
  }
}

/* 日期选择器 */
div.el-date-editor {

  &.el-input__wrapper {
    @apply w-full shadow-stroke;
  }
  
  &.el-input {
    @apply w-full shadow-stroke;
  }
}

/* 开关 */
div.el-switch {
  @apply h-auto;

  .el-switch__core {
    @apply bg-unchecked-gray border-unchecked-gray;
  }

  &.is-checked {
    .el-switch__core {
      @apply bg-active-blue border-active-blue;
    }
  }

  &.is-disabled {
    .el-switch__core {
      @apply bg-disable-gray border-disable-gray;
    }

    &.is-checked {
      .el-switch__core {
        @apply bg-disable-blue border-disable-blue;
      }
    }
  }
}

/* 单选按钮组 */
.el-radio-group {
  .el-radio-button {
    @apply border-stroke-gray;

    .el-radio-button__inner {
      @apply h-[34px] leading-[34px] py-0 px-[24px] text-primary-black border-stroke-gray;
    }

    &.is-active {
      .el-radio-button__inner {
        @apply bg-dark-blue border-dark-blue;
      }
    }

    &:first-child {
      .el-radio-button__inner {
        @apply rounded-l-[2px];
      }
    }

    &:last-child {
      .el-radio-button__inner {
        @apply rounded-r-[2px];
      }
    }
  }
}

/* 按钮 */
button.el-button {
  @apply h-[34px] text-primary-black border-stroke-gray bg-transparent text-[14px] rounded-[2px] px-[10px];

  &.el-button--primary:not(.is-plain):not(.is-link) {
    @apply bg-primary-blue text-white border-primary-blue;

    &.is-disabled {
      @apply bg-disable-blue border-disable-blue;
    }
  }
  
  &.is-plain {
    @apply bg-transparent;

    &.el-button--primary {
      @apply bg-transparent text-primary-blue border-primary-blue;
    }
  }

  &.el-button--large {
    @apply h-[36px];
  }

  &.is-link {
    @apply bg-transparent text-primary-black;
    
    &.el-button--primary {
      @apply text-dark-blue;
    }

    &.is-disabled {
      @apply text-disable-dark-gray;

      &:hover {
        @apply text-disable-dark-gray;
      }
    }
  }

  > span {
    @apply leading-[13px];

    > svg {
      @apply text-[13px] #{!important};
      @apply mr-[4px];
    }
  }
}

/* 表格 */
.el-table {
  @apply w-full;

  .el-table__inner-wrapper {
    &:before {
      display: none;
    }
  }
  
  .el-table__header-wrapper {
    tr {
      th.el-table__cell, th.el-table-fixed-column--left, th.el-table-fixed-column--right {
        @apply bg-primary-blue text-white;

        .cell {
          @apply font-semibold;
        }
      }
    }
  }

  .el-table__body-wrapper {
    .el-scrollbar {
      .el-scrollbar__view {
        @apply min-h-full;
        @apply flex #{!important};
        @apply flex-col;

        .el-table__empty-block {
          @apply flex-1;

          .el-table__empty-text {
            @apply text-tip-gray;
          }
        }
      }
    }

    tr {
      td.el-table__cell {
        @apply border-stroke-gray;
      }
    }
  }
}

/* 分页 */
div.el-pagination {
  @apply p-0 mt-[18px] text-pagination-black;
  @apply justify-end;

  .el-pagination__total {
    @apply text-pagination-black mr-[8px];
  }

  .el-pagination__sizes {
    @apply mr-[8px];

    .el-input__inner {
      @apply text-pagination-black;
    }
  }

  .btn-prev, .btn-next {
    @apply text-pagination-black bg-pagination-gray rounded-[2px] mr-[8px];

    &:disabled {
      @apply text-unchecked-gray bg-pagination-light-gray;
    }
  }

  .el-pager {
    li {
      @apply text-pagination-black bg-pagination-gray rounded-[2px] mr-[8px];

      &.is-active {
        @apply text-white bg-primary-blue;
      }
    }
  }

  .el-pagination__jump {
    @apply text-pagination-black ml-[8px];
    
    .el-pagination__editor {
      @apply mr-0;

      .el-input__inner {
        @apply text-pagination-black;
      }
    }
  }
}

/* 表单 */
.el-form {
  .el-form-item {
    @apply mb-[14px];

    &.is-required {
      .el-form-item__label {
        &:before {
          @apply mr-[2px];
        }
      }
    }

    .el-form-item__label {
      @apply text-[16px];
      @apply mb-[4px] leading-[24px] #{!important};
    }

    .el-form-item__error {
      @apply p-0 leading-[14px];
    }
  }
}

/* 面包屑 */
.el-breadcrumb {
  .el-breadcrumb__item {
    .el-breadcrumb__inner {
      @apply text-dark-blue;
    }

    &:last-child {
      .el-breadcrumb__inner {
        @apply text-dark-blue;

        &:hover {
          @apply text-dark-blue;
        }
      }
    }
  }

  .el-breadcrumb__separator {
    @apply ml-[5px] mr-[5px] text-dark-blue;
  }
}

span.el-tag {
  @apply px-[10px] h-[26px];

  &.el-tag--success {
    @apply bg-back-light-green text-primary-green;
  }

  &.el-tag--danger {
    @apply bg-back-light-red text-primary-red;
  }

  &.el-tag--dark {
    @apply bg-active-blue border-active-blue;
  }

  &.el-tag--small {
    @apply px-[8px] h-[20px];
  }
}

/* 弹出框 */
.confirm-box {
  .el-dialog {
    &.is-align-center {
      @apply translate-x-[-5px];
    }

    .el-dialog__header {
      @apply mr-0 p-[20px] pb-[10px] text-[18px];
    }

    .el-dialog__body {
      @apply p-0;
    }

    .el-dialog__footer {
      @apply p-[20px];
    }
  }
}

/* 提示语 */
div.el-message {
  @apply h-[40px] px-[15px] border-0 font-medium;

  &.el-message--success {
    @apply text-primary-green bg-back-light-green;
  }

  &.el-message--error {
    @apply text-primary-red bg-back-light-red;
  }
}

/* link */
a.el-link {
  &.el-link--default {
    @apply text-white;
  }

  &.el-link--primary {
    @apply text-primary-blue;
  }

  &.el-link--info {
    @apply text-tip-gray;
  }

  &.is-disabled {
    @apply text-disable-dark-gray;
  }
}

/* 步骤条 */
div.el-steps {
  .el-step__head {
    &.is-wait {
      @apply text-unchecked-gray border-unchecked-gray;
    }

    .el-step__line {
      @apply h-[1px] mx-[18px] bg-unchecked-gray;

      .el-step__line-inner {
        @apply hidden;
      }
    }

    .el-step__icon.is-text {
      @apply border;

      .el-step__icon-inner {
        @apply font-semibold;
      }
    }
  }

  .el-step__title {
    @apply mt-[8px] text-[14px] font-semibold leading-[22px];

    &.is-wait {
      @apply text-unchecked-gray;
    }
  }

  .el-step__description {
    &.is-wait {
      @apply text-unchecked-gray;
    }
  }
}

/* 分割线 */
div.el-divider {
  @apply border-stroke-light-gray my-[18px];
}

/* 滑块 */
.el-slider {
  .el-slider__runway {
    @apply mx-[20px];

    .el-slider__marks {
      .el-slider__marks-text {
        @apply mt-[-32px];
      }
    }

    .el-slider__stop {
      @apply border border-solid border-dark-blue;
    }

    .el-slider__button-wrapper {
      .el-slider__button {
        @apply border-dark-blue;
      }
    }

    &.is-disabled {
      .el-slider__stop {
        @apply border-disable-dark-gray;
      }
  
      .el-slider__button-wrapper {
        .el-slider__button {
          @apply border-disable-dark-gray;
        }
      }
    }
  }
}